name: Docker

on:
  schedule:
    - cron: '0 1 * * *'   # daily version check
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - name: Get EarnApp version
        id: version
        run: |
          wget -qO install.sh https://cdn-earnapp.b-cdn.net/static/earnapp/install.sh
          VERSION=$(grep '^VERSION=' install.sh | cut -d'"' -f2)

          if [ -z "$VERSION" ]; then
            echo "Failed to extract version"
            exit 1
          fi

          echo "version=v$VERSION" >> $GITHUB_OUTPUT
          echo "Detected version: v$VERSION"
      - name: Check if version exists in GHCR
        id: check
        run: |
          VERSION="${{ steps.version.outputs.version }}"

          if docker manifest inspect ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:$VERSION > /dev/null 2>&1; then
            echo "exists=true" >> $GITHUB_OUTPUT
            echo "Image already exists. Skipping build."
          else
            echo "exists=false" >> $GITHUB_OUTPUT
            echo "New version detected. Building..."
          fi
      - name: Set up Docker Buildx
        if: steps.check.outputs.exists == 'false'
        uses: docker/setup-buildx-action@v3
      - name: Login to GHCR
        if: steps.check.outputs.exists == 'false'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        if: steps.check.outputs.exists == 'false'
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ steps.version.outputs.version }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
      - name: Summary
        run: |
          VERSION="${{ steps.version.outputs.version }}"
          if [ "${{ steps.check.outputs.exists }}" = "true" ]; then
            echo "###  Build Skipped" >> $GITHUB_STEP_SUMMARY
            echo "Version $VERSION already exists." >> $GITHUB_STEP_SUMMARY
          else
            echo "### Build Completed" >> $GITHUB_STEP_SUMMARY
            echo "Published $VERSION and latest." >> $GITHUB_STEP_SUMMARY
          fi
